$table-width: 700px;
$table-background: #F9F9F9;
$table-border: 1px solid #666;
$table-head-background: #F0F0F0;
$table-td-padding: 5px 10px;
$table-th-narrow-width: 7%;
$table-th-input-width: 80px;
$font-aswesome: FontAwesome;
$font-aswesome-size: 12px;
$ic-sort: "\f0dc";
$ic-sort-asc: "\f0de";
$ic-sort-desc: "\f0dd";
